.wrapper{
    width: 100px;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    & .logo-imgage{
        width: 100%;
        height: 80px;
    }
    & .menu-navigation{
        text-align: center;

    }
}